@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

@font-face{
	font-family: my-font;
	src: url(../fonts/Reey-Regular.otf);
}

body{
	background: #fff;
}

img{
	max-width: 100%;
}

a{
 	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


/*head-sec*/

.head-sec{
	background: url(../images/123.png);
	 background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.fa-sort-down{
	color: #fff;
	font-size: 15px;
	transform: translate(1px, -3px); 
	margin-left: 5px;	
}

.rotate{
	transform: rotate(180deg) translate(-2px, -3px);
	
}


nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

nav ul li{
	padding: 60px 65px 120px;
}

nav ul li a{
	text-transform: uppercase;
	font-size: 17px;
 	font-family: 'Open Sans', sans-serif;
 	color: #fff;
 	font-weight: 700;
 	transition: 0.3s;
}

nav ul li a:hover {
	color: #e84118;
	 font-size: 18px;
}

nav ul li input{
	border: none;
	border-radius: 50px;
	width: 180px;
	outline: none;
	padding: 10px 20px;
	padding-right:50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

nav ul li a i{
	transform: translatex(-45px);
	pointer-events: none;
	background: #fff;
	color: #000;
	font-size: 20px;
	position: absolute;
	top: 72px;
}

.bers {
	font-size: 30px;
	color: #fff;
	text-align: right;
	display: block;
}

.bers{
	display: none;
}

.res-nav{
	display: none;
	z-index: 1;
}

.navigation .menu-li{
	position: relative;
}
.navigation .menu-list{
	position: absolute;
	top: 100px;
	right:25px;
	background: rgba(37, 40, 43, 0.8);
	transform: translate(10px, 10px);
	white-space: nowrap;
}
.navigation ul li ul li,
.res-nav ul li ul li{
	padding: 10px 20px;
}
.navigation ul li ul{
	display:none;
}

.navigation .contact-li{
	position: relative;
}
.navigation .contact-list{
	position: absolute;
	top: 100px;
	right:70px;
	background: rgba(37, 40, 43, 0.8);
	transform: translate(22px, 10px);
	white-space: nowrap;
	z-index: 1;
}

.res-nav ul li ul{
	margin-top: 10px;

}
.res-nav ul li ul li a,
.navigation ul li ul li a{
	font-size: 15px;
	text-transform: capitalize;
}

.res-nav ul li ul{
	display: none;
}

.res-nav .contact-list,
.res-nav .menu-list{
	  transform: translate(0px);
}
.logo img{
	margin-left: 100px;
}
.head-title{
	width: 600px;
}
.logo h1{
	font-size: 92px;
	font-family: my-font;
	color: #fff;
	margin-left: 100px;
	margin-top: 75px;
}
.head-title h3{
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin-left: 100px;
	margin-top: 100px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 5px;
}
.head-title button{
	font-size: 25px;
	font-weight: 800;
	border: none;
	padding: 15px 35px;
	border-radius: 50px;
	margin-left: 100px;
	margin-top: 60px;
}
.head-title p{
	margin-top: 28px;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	color: #fff;
	font-style: italic;
	margin-left: 100px;
	padding-bottom: 150px;
}
.img1 img{
	position: absolute;
	top: 260px;
	right: 70px;
}
.img2 img{
	position: absolute;
	top: 740px;
	right: 575px;
}

.img3 img{
	position: absolute;
	top: 715px;
	right:0px;
}


/*sec-2*/

.sec-2{
	margin-top: 100px;
}

.sec-heading{
	margin: auto;
}

.sec-heading h1{
	font-size: 75px;
	font-family: my-font;
	color:#222328;
	text-align: center;
	padding-bottom: 50px;

}

.sec-heading p{
	font-size: 27px;
	 font-family: 'Open Sans', sans-serif;
	color:#2f3135;
	text-align: center;

}

.img-sec{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 120px;
}

.images p{
	font-size: 23px; 
 	font-family: 'Open Sans', sans-serif;
	color:#2f3135;
}

.images h3{
	font-size:29px ;
	font-family: 'Open Sans', sans-serif;
	color: #343434;
	font-weight: 700;
	margin-bottom: 10px;
}

 .images-heading{
	 margin-left: 50px;
}

.sec-2 button{
	border: none;
	letter-spacing: 5px;
	font-size: 23px;
	color: #fff;
	background: #343434;
	padding: 25px 70px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 50px;
	display: block;
	margin: auto;
	margin-bottom: 55px;
	font-weight: 800;
}

/*sec-3*/

.sec-3{
	background: #27292c;
	padding: 80px 0;
}

.sec-heading h2{
	color: #fff;
	font-size: 75px;
	font-family: my-font;
	text-align: center;
	padding-bottom: 50px;
}

.about-1{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 18px;
}

.sec-3-about{
	display: flex;
	justify-content: space-around;
	margin: 70px 100px;

}

.about-1{
	padding: 0 80px;
}

.sec-3 button{
	border: none;
	font-size: 26px;
	color: #27292c;
	background: #e8e8e8;
	padding: 20px 70px;
	border-radius: 35px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	font-weight: 700;
}

/*sec-4*/

.sec-4{
	 margin: 50px 90px;
	 margin-bottom:-40px;
}

.product{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product:first-child{
	margin-bottom: 100px;
}

.product-title{
	 width: 550px;
}

.product-title h1{
	font-size: 58px;
	color: #27292c;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 50px;
}

.product-title button{
	border: none;
	border-radius: 50px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 15px 40px;
	background: #27292c;
	letter-spacing: 5px;

}

.product-title p{
	color: #27292c;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px;

}

.product-extra{
	display: none;
}


/*sec-5*/

.sec-5{
	background: url(../images/91011.png);
	padding-top: 140px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.sec-5-title h1{
	font-size: 58px;
	color: #fff;
	font-family: my-font;
	text-align: center;
}

.sec-5-title p{
	font-size: 25px;
	color: #f8f6f1;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 70px;
	padding-bottom: 780px;

}

.sec-5-title p::after{
	content: '';
	display: block;
	height: 8px;
	width: 160px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 400px;
	transform: translate(-80px);

}

.pizza{
	position: absolute;
	top: 460px;
	right: 350px;
 }

 .green{
 	position: absolute;
 	top: -150px;
 	right: 250px;
 }

/*sec-6*/

.sec-6-heading h2{
	color: #393939;
	font-size: 42px;
	font-family: my-font;
}

.sec-6-heading p{
	color: #333d42;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}

.sec-6-heading{
	margin-top: 165px;
}

.sec-6-buttom{
	margin-top: 230px;
	text-align: center;
}

.sec-6-buttom h4{
	margin-top: 60px;
	font-size: 21px;
	color: #3f3f3f;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 150px;
}

.sec-6-buttom h3{
	font-size: 25px;
	color: #3f3f3f;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding: 0 200px;
}

/*sec-7*/

.sec-7{
	background: #27292c;
	color: #fff;
	text-align: center;
	padding:230px 0;
	position: relative;
}

.sec-7-title h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 75px;
	margin-bottom: 70px;
}

.sec-7-title p{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 70px;
	padding: 0 200px;
}

.subscribe input[type=text]{
	width: 70%;
	border: none;
	padding: 15px 30px;
	border-radius: 50px;
	transform: translate(50px);
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

.subscribe input[type=submit]{
	width: 25%;
	border: none;
	border-radius: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	background: #54524f;
	color: #fff;
	letter-spacing: 3px;
	padding: 15px 30px;
	transform: translate(-50px);
}

::placeholder{
	color: #54524f;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;

}

.green-2{
	position: absolute;
	top: -50px;
	right: 20%;
}

/*sec-8*/


.sec-8{
	padding: 250px 0;
}


.social-icon ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
}

.buttom-sec h2{
	color: #343434;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}

.buttom-sec p{
	color: #343434;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 30px;
}

.social-icon ul li{
	margin-right: 15px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #343434;
}

.social-icon ul li a i{
	font-size: 30px;
	color: #fff;
	transform: translate(10px, 8px);
 
}

.social-icon .fa-facebook{
	transform: translate(8px, 8px);
} 

.about-buttom p,
.services p,
.other p{
	line-height: 45px;
}

.social-icon ul li:last-child{
	margin-right: 0;
}

.show button{
	border: none;
	font-size: 26px;
	color: #27292c;
	background: #e8e8e8;
	padding: 20px 70px;
	border-radius: 35px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	font-weight: 700;
	margin-top: 200px;
	margin-bottom: -150px;
}

/*owl-sec*/


.hide-owl button{
	border: none;
	font-size: 26px;
	color: #27292c;
	background: #e8e8e8;
	padding: 20px 70px;
	border-radius: 35px;
	display: block;
	font-family: 'Montserrat', sans-serif;
	margin: 100px auto 100px;
	font-weight: 700;
}

.owl-sec{
	margin: 120px 50px 50px;
}

.owl-sec p{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
}

.owl-title h2{
	text-align: center;
	font-size: 50px;
	font-family: my-font;
	font-weight: 600px;
	margin-bottom: 100px;
	line-height: 80px;
}

.owl-dots{
	text-align: center;
}

.owl-dots button.owl-dot{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #27292c;
	margin-right: 10px;
}

.owl-dots button.active{
	background:#7f8c8d;
}

.owl-nav button.owl-next{
	position:absolute;
	top: 25%;
	right: -25px;
}

.owl-nav button.owl-prev{
	position:absolute;
	top: 25%;
	left: -25px;
}

.owl-nav button span{
	font-size: 50px;
}


.sec-9{
	display: none;
}



/*scroll*/

.scroll{
	position: fixed;
	bottom: 5px;
	right: 5px;
	font-size: 40px;
	color: #778ca3;
	display: none;
}


